.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-8px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
    font-size: 18px;
}

.form__label{

    color: #706c6c;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}



@media (max-width: 767px) {
    .div-form{
        margin-top: 80px;
    }
}
